@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #000;
}

html,
#root {
  @apply h-[100vh] w-[100vw];
}

html {
  background: var(--bg);
  color: var(--text);
  overflow: hidden;
}

.noise {
  background: url(/src/assets/svgs/noise.svg);
  isolation: isolate;
}
